<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Competition Page </title>
    <style>
        .sec2{
            margin-left:12%;
        }
    </style>
</head>
<body>
    <form action="/" method="get" class="sec2">
        <h1><%= msg1 %></h1>
        <p><%= msg2 %></p>
        <p>This page has been visited <b><%= visited %></b> so far, with a total of <b><%= win%></b> wins and <b><%= lose %></b> losses</p>
        <button type="submit" class="btn btn-primary">Return</button>
    </form>
</body>
</html>